<div class="container">

  <!--Page heading-->
  <div class="row">
    <div class="col-md-12">
      <h1 class="h1-responsive">News
        <!--<small class="text-muted">recipes for launches and desserts </small>-->
      </h1>
    </div>
  </div>
  <!--/.Page heading-->
  <hr>


  <section class="text-center py-4">
    <!--Grid row-->
    <div class="row">
      <app-card
        *ngFor="let i of articles"
        [titles]="i"
        style="width: 300px; margin-left:  60px; margin-bottom: 15px; margin-top: 15px;"
      ></app-card>
    </div>
  </section>
</div>
