<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

<app-header></app-header>
<app-page-heading></app-page-heading>
<div class="general">
  <div class="container-left">
    <app-list></app-list>
  </div>
  <div class="container-mid">
    <div class="row">
      <app-card
        *ngFor="let i of articles"
        [article]="i"
      >
      </app-card>
    </div>
  </div>
  <div class="container-right" >
    <app-tag></app-tag>
  </div>
  <!--sk editor-->
</div>

<app-footer></app-footer>
</body>

</html>

