    <!--Grid column-->
    <div class="col-lg-12 col-md-12 mb-12"><div class="top-cover center-block"></div>
      <!--Featured image-->
      <div class="view overlay rounded z-depth-2 mb-2">
        <img src="https://mdbootstrap.com/img/Photos/Others/images/81.jpg"  class="img-fluid" alt="First sample image">
        <a>
          <div class="mask rgba-white-slight"></div>
        </a>
      </div>

      <!--Excerpt-->
      <a href="" class="pink-text">
        <h6 class="mb-3 mt-4">
          <i class="fa fa-map "></i>
          <strong> Adventure</strong>
        </h6>
      </a>
      <h4 class="mb-3 font-weight-bold dark-grey-text">
        <strong>{{article.title}}</strong>
      </h4>
      <p>by
        <a class="font-weight-bold dark-grey-text">Billy Forester</a>, 15/07/2018</p>
      <p class="grey-text">{{article.description}}</p>
      <a class="btn btn-pink btn-rounded btn-md" routerLink="/article">Подробнее</a>
    </div>

    <!--Grid column-->

