    <!--Grid column-->
    <div class="col-md-12 col-md-12 mb-12"><div class="top-cover center-block"></div>
      <!--Featured image-->
      <div class="view overlay rounded z-depth-2 mb-2">
        <img src="https://mdbootstrap.com/img/Photos/Others/images/81.jpg"  class="img-fluid" alt="First-img">
        <a>
          <div class="mask rgba-white-slight"></div>
        </a>
      </div>

      <!--Excerpt-->

        <h6 class="mb-3 mt-4">
          <a href="" class="blue-text">
          <i class="fa fa-futbol-o" aria-hidden="true"></i>
            <strong>{{article.section.heading}}</strong>
          </a>
          <!--<span *ngIf="{{article.section.id}}"></span>-->
          <i class="fa fa-star" aria-hidden="true" >
            <strong class="black-text"> {{article.rating}}</strong>
          </i>
          <!--<i class="fa fa-institution" aria-hidden="true"></i>ПОЛИТИКА-->
          <!--<i class="fa fa-wrench" aria-hidden="true"></i>ТЕХНОЛОГИИ-->
          <!--<i class="fa fa-group" aria-hidden="true"></i>ЛЮДИ-->

        </h6>


      <h4 class="mb-3 font-weight-bold dark-grey-text">
        <strong>{{article.title}}</strong>
      </h4>
      <p>by
        <a class="font-weight-bold dark-grey-text">Billy Forester</a>, <span ng-non-bindable>{{article.createdDate | date : 'dd/MM/yy HH:mm'}}</span></p>
      <p class="grey-text">{{article.description}}</p>

      <a class="btn btn-pink btn-rounded btn-md"  [routerLink]="['/article',article.id]">Подробнее</a>
    </div>

    <!--Grid column-->

