
<app-header></app-header>
  <form [formGroup]="userForm">
    <div class="container" >
      <div class="jumbotron" style="padding-bottom: 5px">
        <div class="row">
          <div class="col-md-4 col-xs-12 col-sm-6 col-lg-4">
            <img alt="User Pic" src={{user.profileImg}} class="img-circle img-responsive img" height="256" width="256">
          </div>
          <div class="col-md-8 col-xs-12 col-sm-6 col-lg-8">
            <ul class="container details">



              <fieldset *ngIf="!changeName" disabled>
                <div class="form-group">
                  <label style="font-size: 22px" for="alias">Ваш имя:</label>
                  <input style="font-size: 22px"
                         type="text"
                         placeholder="{{user.alias}}"
                         id="alias"
                         class="form-control"
                         formControlName="alias"
                         [(ngModel)]="user.alias"
                         [ngClass]="{'error' : userForm.controls['alias'].hasError('required')
           && (userForm.controls['alias'].touched || invalid ) }">
                  <i *ngIf="userForm.controls['alias'].hasError('required')
     && (userForm.controls['alias'].touched || invalid )"
                     class="fa fa-exclamation-triangle error-triangle showError"></i>
                </div>
              </fieldset>

              <fieldset *ngIf="changeName">
                <div class="form-group">
                  <label style="font-size: 22px" for="alias2">Ваш имя:</label>
                  <input style="font-size: 22px"
                         type="text"
                         placeholder="{{user.alias}}"
                         id="alias2"
                         class="form-control"
                         formControlName="alias2"
                         [(ngModel)]="user.alias"
                         [ngClass]="{'error' : userForm.controls['alias2'].hasError('required')
           && (userForm.controls['alias2'].touched || invalid ) }">
                  <i *ngIf="userForm.controls['alias2'].hasError('required')
     && (userForm.controls['alias2'].touched || invalid )"
                     class="fa fa-exclamation-triangle error-triangle showError"></i>
                </div>
              </fieldset>
              <button type="button" (click)="changeNameBtn()" class="btn btn-primary btn-blue-grey btn btnChangeUsr">Изменить имя</button>




              <fieldset *ngIf="!changePass" disabled>
                <div class="form-group">
                  <label style="font-size: 18px" for="password">Ваш пароль:</label>
                  <input style="font-size: 18px"
                         type="text"
                         placeholder="{{user.alias}}"
                         id="password"
                         class="form-control"
                         formControlName="password"
                         [(ngModel)]="user.password"
                         [ngClass]="{'error' : userForm.controls['password'].hasError('required')
           && (userForm.controls['password'].touched || invalid ) }">
                  <i *ngIf="userForm.controls['password'].hasError('required')
     && (userForm.controls['password'].touched || invalid )"
                     class="fa fa-exclamation-triangle error-triangle showError"></i>
                </div>
              </fieldset>


              <fieldset *ngIf="changePass">
                <div class="form-group">
                  <label style="font-size: 18px" for="password2">Ваш пароль:</label>
                  <input style="font-size: 18px"
                         type="text"
                         placeholder="{{user.alias}}"
                         id="password2"
                         class="form-control"
                         formControlName="password2"
                         [(ngModel)]="user.password"
                         [ngClass]="{'error' : userForm.controls['password2'].hasError('required')
           && (userForm.controls['password2'].touched || invalid ) }">
                  <i *ngIf="userForm.controls['password2'].hasError('required')
     && (userForm.controls['password2'].touched || invalid )"
                     class="fa fa-exclamation-triangle error-triangle showError"></i>
                </div>
              </fieldset>


              <button type="button" (click)="changePassBtn()" class="btn btn-primary btn-blue-grey btn btnChangeUsr">Изменить пароль</button>
            </ul>
          </div>
        </div>
        <button type="button" (click)="saveChanges()" class="btn btn-default btn-blue-grey btn-lg btn-block" style="margin-bottom: 5px">Сохранить изменения</button>
      </div>



      <div class="jumbotron">
        <div style="text-align: center; margin-bottom: 14px">
          <button type="button" class="btn btn-primary btn-blue-grey  btn btnChangeUsr categoriesBtn" style="font-size: 16px">Ваши статьи</button>
          <button type="button" class="btn btn-primary btn-blue-grey btn btnChangeUsr categoriesBtn" style="font-size: 16px">Пользователи</button>
        </div>
        <ul>
          <li *ngFor="let person of news" style="font-size:18px; margin-bottom: 5px">
            <b style="font-size: 22px; margin-bottom: 0px">{{ person.title }}</b>
            <hr style="margin-top: -2px; margin-bottom: 13px">
            <button type="button" class="btn btn-primary btn-blue-grey  btn buttonsView">Посмотреть</button>
            <button type="button" class="btn btn-primary btn-blue-grey  btn buttonsView">Редактировать</button>
          </li>
        </ul>
      </div>
    </div>
  </form>
