<!--Footer-->
<footer class="page-footer center-on-small-only down">

  <!--<div class="call-to-action">-->
  <!--&lt;!&ndash;<h4 class="mb-5">Material Design for Bootstrap</h4>&ndash;&gt;-->
  <!--<ul>-->
  <!--<li>-->
  <!--<h5>Get our UI KIT for free</h5>-->
  <!--</li>-->
  <!--<li>-->
  <!--<a target="_blank" href="https://mdbootstrap.com/getting-started/" class="btn btn-deep-orange waves-effect waves-light" rel="nofollow">Sign up!</a>-->
  <!--</li>-->
  <!--<li>-->
  <!--<a target="_blank" href="https://mdbootstrap.com/material-design-for-bootstrap/" class="btn btn-primary waves-effect waves-light" rel="nofollow">Learn more</a>-->
  <!--</li>-->
  <!--</ul>-->
  <!--</div>-->
  <!--/.Call to action-->

  <!--Copyright-->
  <div class="footer-copyright">
    <div class="containter-fluid">
      © 2018 Copyright
    </div>
  </div>
  <!--/.Copyright-->
</footer>
<!--/.Footer-->
