  <div class="row">
  <h2 class="h2-responsive"> Облако тэгов </h2>
  <hr>
  <div class="tags">
    <a href="#">Супер тег</a>
    <h1><a href="#">Еще один тег</a></h1>
    <a href="#">И еще тег</a>
    <a href="#">Классный тег</a>
    <a href="#">Вот тег последний</a>
    <a href="#">Еще один тег</a>
    <a href="#">И еще тег</a>
    <a href="#">Классный тег</a>
    <a href="#">Вот тег последний</a>
    <a href="#">Еще один тег</a>
    <a href="#">И еще тег</a>
    <a href="#">Классный тег</a>
    <a href="#">Вот тег последний</a>
  </div>
  </div>
