  <div class="row">
  <h2 class="h2-responsive"> {{ 'TAGS' | translate }} </h2>
  <hr>
  <div class="tags">
    <a href="#">C#</a>
    <a href="#">C++</a>
    <a href="#">C</a>
    <h1><a href="#">Champions league</a></h1>
    <a href="#">Something</a>
    <a href="#">Football</a>
    <h2><a href="#">Unity</a></h2>
    <a href="#">tag</a>
    <a href="#">goal.com</a>
    <h2><a href="#">Java</a></h2>
    <a href="#">Programmer</a>
    <a href="#">Info..</a>
    <h3><a href="#">Ajax</a></h3>
    <a href="#">Security</a>
    <a href="#">Next tag</a>
  </div>
  </div>
