<nav class="navbar navbar-expand-lg navbar-inverse navbar-dark">

  <div class="container-fluid">
    <a class="navbar-brand waves-effect waves-light" href="/" style="margin-top: 12px">{{"MAIN" | translate }}</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div  class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">

        <li class="nav-item">
          <a class="nav-link waves-effect waves-light" [routerLink]="['/sport']">{{'heading.' + sections[0].heading | translate}}<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link waves-effect waves-light" [routerLink]="['/politics']">{{ 'heading.' + sections[1].heading | translate}}<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link waves-effect waves-light" [routerLink]="['/people']">{{ 'heading.' + sections[2].heading | translate}}<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link waves-effect waves-light" [routerLink]="['/technology']">{{ 'heading.' + sections[3].heading | translate}}<span class="sr-only">(current)</span></a>
        </li>


      </ul>
      <select #langSelect class="form-control lng" (change)="changeLang(langSelect.value)">
        <option *ngFor="let lang of translate.getLangs()" [value]="lang" [selected]="lang === translate.currentLang">{{lang}}</option>
      </select>
      <!--<select class="mdb-select" name="ssas" formControlName="sectionId" >-->
        <!--<option value="" disabled selected>Choose your option</option>-->
        <!--<option value="1">ru</option>-->
        <!--<option value="2">by</option>-->
      <!--</select>-->
      <form  class="form-inline waves-effect waves-light" [formGroup]="userForm">
        <input class="form-control mr-sm-2"  [(ngModel)]="searchString" (keyup.enter)="searchMethod(searchString)" formControlName="searchString" type="text" placeholder="{{'SEARCH' | translate}}" aria-label="Search">
      </form>





      <button *ngIf="!auth" type="button" (click)="showLoginForm()" class="btn btn-primary btn-sm loginBtn">{{'SIGN_IN' | translate}}</button>



      <div *ngIf="auth" class="btn-group">
        <button style="padding-top: 8px; padding-bottom: 8px" class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> Меню </button>

        <div class="dropdown-menu">
          <a class="dropdown-item" (click)="showUser()">{{'ACCOUNT' | translate}}</a>
          <a *ngIf="writer || admin" class="dropdown-item" (click)="forCreate()">{{'WRITE_ARTICLE' | translate}}</a>
          <hr>
          <a class="dropdown-item" (click)="exit()" href="/">{{'EXIT' | translate}}</a>
        </div>
      </div>

    </div>
  </div>
</nav>
