
<!-- Default form login -->
<form class="mainForm">
  <p class="h4 text-center mb-4">Вход</p>

  <!-- Default input email -->
  <label for="defaultFormLoginEmailEx" class="grey-text">Ваш email</label>
  <input type="email" id="defaultFormLoginEmailEx" class="form-control">

  <br>

  <!-- Default input password -->
  <label for="defaultFormLoginPasswordEx" class="grey-text">Пароль</label>
  <input type="password" id="defaultFormLoginPasswordEx" class="form-control">

  <div class="text-center mt-4">
    <button class="btn btn-indigo" type="submit">Войти</button>
  </div>
</form>
<!-- Default form login -->
