<!-- Default form login -->
  <form class="mainForm">
    <p class="h4 text-center mb-4">Вход</p>

    <!-- Default input email -->
    <label for="defaultFormLoginEmailEx" class="grey-text">Ваш email</label>
    <input type="email" id="defaultFormLoginEmailEx" class="form-control">

    <br>

    <!-- Default input password -->
    <label for="defaultFormLoginPasswordEx" class="grey-text">Пароль</label>
    <input type="password" id="defaultFormLoginPasswordEx" class="form-control">

    <div class="text-center mt-4">
      <button class="btn btn-indigo" type="submit">Войти</button>
      <h5 class="orBtn">или</h5>
      <!--Facebook-->
      <button type="button" class="btn btn-fb"><i class="fa fa-facebook"></i></button>
      <!--Twitter-->
      <button type="button" class="btn btn-tw"><i class="fa fa-twitter"></i></button>
      <!--Vkontakte-->
      <button type="button" class="btn btn-vk"><i class="fa fa-vk"></i></button>
      <h5 style="margin: 7px">Не зарегистрированы? <a  routerLink="/registration">Регистрация</a></h5>
    </div>
  </form>
<!-- Default form login -->
