<!DOCTYPE HTML>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    <app-header></app-header>
    <div class="container">


      <form [formGroup]="inputForm" (submit)="onSubmit()">
        <h3>{{'CREATE_TITLE' | translate}}</h3>
        <input type="text" id="title" class="form-control" formControlName="title" />
        <div class="error" *ngIf="isControlInvalid('title')">
          <div class="alert alert-danger" *ngIf="isControlInvalid('title')">Неверное количество символов</div>
        </div>
        <h3>{{'CREATE_SECTION' | translate}}</h3>
        <select class="mdb-select" name="opt" formControlName="sectionId" [(value)]="sectionId">
          <option *ngFor="let option of sections" value="{{option.id}}">{{option.heading}}</option>
        </select>
        <h3>{{'CREATE_DESCRIPTION' | translate}}</h3>
        <input type="text" id="description" formControlName="description" />
        <div class="error" *ngIf="isControlInvalid('description')">
          <div class="alert alert-danger">Неверное количество символов</div>
        </div>
        <h3>{{'CREATE_CONTENT' | translate}}</h3>
        <quill-editor  formControlName="content" ></quill-editor>
        <div class="error" *ngIf="isControlInvalid('content')">
          <div class="alert alert-danger">Неверное количество символов</div>
        </div>
        <button type="submit">Отправить</button>
      </form>

      <!-- Small input -->


    </div>
  </body>

</html>
