<!DOCTYPE HTML>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    <app-header></app-header>
    <div class="container">


      <form [formGroup]="inputForm" (click)="onSubmit()">
        <h3>Заголовок</h3>
        <input type="text" id="title" formControlName="title" />
        <div class="error" *ngIf="isControlInvalid('title')">
          <div class="alert alert-danger">FFFFFFFF</div>
        </div>

        <h3>Раздел</h3>
        <select class="mdb-select" name="opt" formControlName="section" [(value)]="sectionId">
          <option *ngFor="let option of sections" value="{{option.id}}">{{option.heading}}</option>
        </select>
        <h3>Краткое описание</h3>
        <input type="text" id="description" formControlName="description" />
        <div class="error" *ngIf="isControlInvalid('description')">
          <div class="alert alert-danger">FvvvFFFFF</div>
        </div>
        <h3>Содержание</h3>
        <quill-editor  formControlName="content" ></quill-editor>
        <div class="error" *ngIf="isControlInvalid('content')">
          <div class="alert alert-danger">FvvvFFFFF</div>
        </div>
        <button type="submit">Отправить</button>
      </form>

      <!-- Small input -->


    </div>

    <app-footer></app-footer>
  </body>

</html>
