<!--Footer-->
<footer class="page-footer center-on-small-only">
  <!--Footer links-->
  <!--<div class="container-fluid">-->
    <!--<div class="row">-->
      <!--&lt;!&ndash;First column&ndash;&gt;-->
      <!--<div class="col-lg-3 col-md-6 ml-auto">-->
        <!--<h5 class="title font-bold mt-3 mb-4">About material design</h5>-->
        <!--<p>Material Design (codenamed Quantum Paper) is a design language developed by Google.</p>-->
        <!--<p>Material Design for Bootstrap (MDB) is a powerful Material Design UI KIT for most popular HTML, CSS, and JS framework - Bootstrap.</p>-->
      <!--</div>-->
      <!--&lt;!&ndash;/.First column&ndash;&gt;-->
      <!--<hr class="w-100 clearfix d-sm-none">-->
      <!--&lt;!&ndash;Second column&ndash;&gt;-->
      <!--<div class="col-lg-2 col-md-6 ml-auto">-->
        <!--<h5 class="title font-bold mt-3 mb-4">Cooking books</h5>-->
        <!--<ul>-->
          <!--<li>-->
            <!--<a href="https://mdbootstrap.com/download/templates/bootstrap/free/3%20columns%20listing/index.html#!">"Cooking A-Z" by Mike Kalynsky</a>-->
          <!--</li>-->
          <!--<li>-->
            <!--<a href="https://mdbootstrap.com/download/templates/bootstrap/free/3%20columns%20listing/index.html#!">"No More Heat" by Joe Doe</a>-->
          <!--</li>-->
          <!--<li>-->
            <!--<a href="https://mdbootstrap.com/download/templates/bootstrap/free/3%20columns%20listing/index.html#!">"Sea Food for Starters" by Alex Well</a>-->
          <!--</li>-->
          <!--<li>-->
            <!--<a href="https://mdbootstrap.com/download/templates/bootstrap/free/3%20columns%20listing/index.html#!">"Easy Calories" by Samantha Bens</a>-->
          <!--</li>-->
        <!--</ul>-->
      <!--</div>-->
      <!--&lt;!&ndash;/.Second column&ndash;&gt;-->
      <!--<hr class="w-100 clearfix d-sm-none">-->
      <!--&lt;!&ndash;Third column&ndash;&gt;-->
      <!--<div class="col-lg-2 col-md-6 ml-auto">-->
        <!--<h5 class="title font-bold mt-3 mb-4">Popular recipes</h5>-->
        <!--<ul>-->
          <!--<li>-->
            <!--<a href="https://mdbootstrap.com/download/templates/bootstrap/free/3%20columns%20listing/index.html#!">Beff steak with almonds</a>-->
          <!--</li>-->
          <!--<li>-->
            <!--<a href="https://mdbootstrap.com/download/templates/bootstrap/free/3%20columns%20listing/index.html#!">Cordon Bleu</a>-->
          <!--</li>-->
          <!--<li>-->
            <!--<a href="https://mdbootstrap.com/download/templates/bootstrap/free/3%20columns%20listing/index.html#!">Vegan pancakes</a>-->
          <!--</li>-->
          <!--<li>-->
            <!--<a href="https://mdbootstrap.com/download/templates/bootstrap/free/3%20columns%20listing/index.html#!">Turkey stuffed sandwiches</a>-->
          <!--</li>-->
        <!--</ul>-->
      <!--</div>-->
      <!--&lt;!&ndash;/.Third column&ndash;&gt;-->
      <!--<hr class="w-100 clearfix d-sm-none">-->
      <!--&lt;!&ndash;Fourth column&ndash;&gt;-->
      <!--<div class="col-lg-2 col-md-6 ml-auto">-->
        <!--<h5 class="title font-bold mt-3 mb-4">Find me on</h5>-->
        <!--<ul>-->
          <!--<li>-->
            <!--<a href="https://mdbootstrap.com/download/templates/bootstrap/free/3%20columns%20listing/index.html#!">Facebook</a>-->
          <!--</li>-->
          <!--<li>-->
            <!--<a href="https://mdbootstrap.com/download/templates/bootstrap/free/3%20columns%20listing/index.html#!">Youtube</a>-->
          <!--</li>-->
          <!--<li>-->
            <!--<a href="https://mdbootstrap.com/download/templates/bootstrap/free/3%20columns%20listing/index.html#!">Instagram</a>-->
          <!--</li>-->
          <!--<li>-->
            <!--<a href="https://mdbootstrap.com/download/templates/bootstrap/free/3%20columns%20listing/index.html#!">Pinterest</a>-->
          <!--</li>-->
        <!--</ul>-->
      <!--</div>-->
      <!--&lt;!&ndash;/.Fourth column&ndash;&gt;-->
    <!--</div>-->
  <!--</div>-->
  <!--&lt;!&ndash;/.Footer links&ndash;&gt;-->
  <!--<hr>-->
  <!--Call to action-->
  <div class="call-to-action">
    <h4 class="mb-5">Material Design for Bootstrap</h4>
    <ul>
      <li>
        <h5>Get our UI KIT for free</h5>
      </li>
      <li>
        <a target="_blank" href="https://mdbootstrap.com/getting-started/" class="btn btn-deep-orange waves-effect waves-light" rel="nofollow">Sign up!</a>
      </li>
      <li>
        <a target="_blank" href="https://mdbootstrap.com/material-design-for-bootstrap/" class="btn btn-primary waves-effect waves-light" rel="nofollow">Learn more</a>
      </li>
    </ul>
  </div>
  <!--/.Call to action-->

  <!--Copyright-->
  <div class="footer-copyright">
    <div class="containter-fluid">
      © 2018 Copyright
    </div>
  </div>
  <!--/.Copyright-->
</footer>
<!--/.Footer-->
