
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

<app-header></app-header>
<app-page-heading></app-page-heading>
<div class="general">
  <div class="container-left">
    <h2 class="h2-responsive"> {{ 'POPULAR_ARTICLES' | translate }} </h2>
    <ul class="list-group list-group-flush">
      <app-list
        *ngFor="let i of popularArticles"
        [popularList]="i"
      ></app-list>
    </ul>
  </div>
  <div class="container-mid">
    <div class="row">
      <app-card
        *ngFor="let i of articles"
        [article]="i"
      >
      </app-card>
    </div>
  </div>
  <div class="container-right" >
    <app-tag></app-tag>
  </div>
  <!--sk editor-->
</div>

</body>

</html>
