.test{
  position: relative;
  width: 100%;
  margin: 0%;
  padding: 0%;
  overflow: hidden;
}
.container-mid{
  width: 45%;
}
app-card{
  margin-left: 1%;
  margin-bottom: 1%;
  margin-top: 1%;
}
app-list{
  margin-left: 30px;
  margin-top: 20px;
  float: left;
  width: 20%;
}
app-tag{
  float: right;
  width: 15%;
}
.h1-responsive{
  margin-bottom: 7%;
}
h1{
  text-align: center;
}
.h2-responsive{
  text-align: center;
}
.list-group-flush{
  word-wrap: break-word;
}
a{
  color: black;
  text-decoration: none;
}
.row{
  margin: 0%;
}

