<div class="container lef">
  <h2 class="h2-responsive"> Популярные статьи </h2>
  <ul class="list-group list-group-flush">
    <h5><a href="" class="list-group-item">1. Cras justo odio Cras justo odio Cras justo odio</a></h5>
    <h5><a href="" class="list-group-item">2. Cras justo odio</a></h5>
    <h5><a href="" class="list-group-item">3. Cras justo odio</a></h5>
    <h5><a href="" class="list-group-item">4. Cras justo odio</a></h5>
    <h5><a href="" class="list-group-item">5. Cras justo odio</a></h5>
    <h5><a href="" class="list-group-item">6. Cras justo odio</a></h5>
    <h5><a href="" class="list-group-item">7. Cras justo odio</a></h5>
    <h5><a href="" class="list-group-item">8. Cras justo odio</a></h5>
    <h5><a href="" class="list-group-item">9. Cras justo odio</a></h5>
    <h5><a href="" class="list-group-item">10. Cras justo odio</a></h5>
  </ul>
</div>
